%h2 Show Search
= form_tag admin_shows_find_path, :method => :get do
  %table.borders
    %tr
      %td.name Show Name
      %td= text_field_tag :search_term
      %td= submit_tag 'search'

- if @searched_shows
  %h2 Search Results
  %table
    - @searched_shows.each do |searched_show|
      %tr
        %td= link_to(searched_show[:name], searched_show[:url], :target => '_blank')
        %td= button_to('add', shows_path(:"show[tvr_show_id]" => searched_show[:tvr_show_id]), :method => :post)


- if @shows
  %h2 Search Results
  %table
    - @shows.each do |show|
      %tr
        %td= link_to(show[:name], show[:url], :target => '_blank')
        %td= button_to('add', admin_shows_add_path(:tvr_id => show[:tvr_id]), :method => :post)

