.control-group
  = form.label :email, :class => "control-label"
  .controls= text_field_tag :email, user.email, :name => "user[email]", :id => 'user_email'

.control-group
  = form.label :password, 'New Password', :class => "control-label"
  .controls= password_field_tag :password, '', :name => "user[password]", :id => 'user_password'

.control-group
  = form.label :password_confirmation, 'New Password Confirmation', :class => "control-label"
  .controls= password_field_tag :password_confirmation,  '', :name => "user[password_confirmation]", :id => 'user_password_confirmation'
