- if @show
  %div.section
    %h1= "#{@show.name} Episodes"
%div.section
  %ul
    - @episodes.each do |episode|
      %li
        - if !@show
          = episode.show.name
          |
        = "#{episode.episode} - #{episode.title}"
        |
        = episode.air_date