- if @show
  %h1= "#{@show.name} Episodes"
%ul
  - @episodes.each do |episode|
    %li
      - if !@show
        = episode.show.name
        |
      = "#{episode.episode} - #{episode.title}"
      |
      = episode.air_date

