%div.section
  %h1 Shows

%div.section
  %h2 Episode Search
  - form_tag url(:episodes, :calendar, :format => :xml), :method => :get do
    %div
      %span.name From
      %span= text_field_tag :from_date, :id => 'from_date', :value => (Date.today - 8)
    .clear
    %div
      %span.name To
      %span= text_field_tag :to_date, :id => 'to_date', :value => (Date.today - 1)
    .clear
    %div= submit_tag 'search'
.clear

%div.section
  %h2 Show Search
  - form_tag url(:shows, :search), :method => :get do
    %div
      %span.name Show Name
      %span= text_field_tag :show_name
    .clear
    %div= submit_tag 'search'

- if @searched_shows
  %div.section
    %h2 Search Results
    - @searched_shows.each do |searched_show|
      %span.search_name= searched_show[:name]
      %span= button_to('add', url(:shows, :create, :"show[tvr_show_id]" => searched_show[:tvr_show_id]), :method => :post)
      .clear

- if @shows
  %div.section
    %ul
      - change = false
      - i = 1
      %h2= "Current Shows (#{@shows.size})"
      - @shows.each do |show|
        %li{:class => change ? 'highlight' : '' }
          %span.num_index= "#{i}."
          %span.name
            = link_to(show.name, url(:episodes, :index, :id => show.id))
          %span.name
            = link_to('Reimport Episode Info', url(:episodes, :reimport_episodes, :tvr_show_id => show.tvr_show_id))
          %span.name
            = link_to('Update Show Info', url(:shows, :reimport_show_info, :tvr_show_id => show.tvr_show_id))
          %span=# button_to('del', url(:shows, :destroy, :id => show.id), :method => :delete, :confirm => "Are You Sure?")
        - change = !change
        - i += 1
        .clear

