%h1 Shows

%legend Show Search
= form_tag search_shows_path(current_user), :method => :get do
  %table.borders
    %tr
      %td.name Show Name
      %td= text_field_tag :show_name
      %td= submit_tag 'search'

- if @searched_shows
  %h2 Search Results
  %table
    - @searched_shows.each do |show|
      %tr
        %td= link_to(show.name, show.url, :target => '_blank')
        %td= button_to('add', add_show_path(show), :method => :post)

%legend Episode Search
= form_tag calendar_path, :method => :get do
  %table
    %tr
      %td.name
        From
        %br/
        = text_field_tag :from_date, (Date.today - 7), :class => 'datepicker', :readonly => true
      %td.name
        To
        %br/
        = text_field_tag :to_date, (Date.today - 1), :class => 'datepicker', :readonly => true
    %tr
      %td= submit_tag 'search'

- if @shows
  %legend
    = "Your Current Shows"
    = "(#{@shows.size})"
  %table.table.table-striped
    %tr
      %th &nbsp;
      %th Show
      %th rss
      %th Watched
      %th Del

    - @shows.each_with_index do |show, index|
      %tr
        %td= "#{index + 1}."
        %td= link_to(show.name, show_episodes_path(show))
        %td= link_to("rss", show_episodes_path(show, :format => :rss))
        %td= button_to('All Watched', watched_show_path(show), :method => :put, :remote => true, :confirm => "Mark all episodes of #{show.name} watched?")
        %td= button_to('del', url_for(:action => 'destroy', :controller => 'shows',:id => show.id), :method => :delete, :confirm => "Delete #{show.name} are you sure?")

