!!! Strict
%html
  %head
    %title IverCore TV Rss
    = stylesheet_link_tag 'http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css', 'application'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.4.custom'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min', 'application'
    = yield_content :include
  %body
    = flash_tag :error,  :id => 'error-message' if flash[:error]
    = flash_tag :notice, :id => 'notice-message' if flash[:notice]
    .section
      %ul.main_menu
        %li= link_to('Home', url(:shows, :index))
        %li= link_to('Reimport All Episodes', url(:episodes, :reimport_episodes))
        %li= link_to('Reimport All Show Info', url(:shows, :reimport_show_info))
    = yield