!!! Strict
%html{:lang => 'en'}
  %head
    %title IverCore TV Rss
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'

  %body
    = render :partial => 'shared/flash', :object => flash
    = render :partial => 'shared/menu'
    .container-fluid= yield